@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#banner {
	background-color: #81b214;
}

#border-colour{
	border: 5px dotted;
	border-color: #0d7377;
	border-width: 15px;
}

.form-head {
	font-family: 'Pacifico', cursive;
   	font-weight: 900;
}
#emailHelp {
		font-family: 'Pacifico', cursive;
		font-weight: 900;
		color: #f6f4e6;
}

.row {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

#form-row {
	padding: 0.5rem;
	padding-top: 2rem;
}

.form-col {
	position: absolute;
	top: 30%;
}

#footer-row {
	margin-top: 0;
	margin-bottom: 0;
	padding: 1rem;
}

#cards-row {
	padding-left: 1rem
	padding-right: 1rem
}

/*.card-title {
	text-align: center;
}*/

.card {
	margin-bottom: 0.5rem;
}

.card-body>a {
	text-decoration: none;
}

.pic {
	width: 100%;
	height: auto;
}

#btn-container {
	flex-direction: column;
	position: absolute;
	top: 13%;
}

#btn-col {
	position: static; /*default*/

}








































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































